.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body
{
    overflow-x: hidden;
    margin: 0 !important;
}
.titleBox
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

p
{
  font-family: 'Poppins', sans-serif;
}

bold
{
  font-weight: bold;
}

.title
{
    font-size: 60pt;
    font-family: 'Poppins', sans-serif;
    width: 60%;
    text-align: right;
    overflow: hidden;
}

.spinEarth
{
    width: 40%;
    height: 100%;
    overflow: hidden;
}

#earth
{
    height: 100vh;
    width: 100vh;
    position: relative;
    background-size: 100% 100%;
}

.blueCover
{
    background-color: #1894bc;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.textYearlyTempAnomolies
{
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 35%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 16pt;
    line-height: 1.75em;
}

.yearlyTempAnomolies
{
    width: 65%;
    margin-right: 0%;
    height: 100%;
}

.toolbarCover
{
  width: 100%;
  height: 10vh;
  background-color: #1894bc;
  position: relative;
  top: calc(50% + 225px);
}

.next
{
    background-color: #1894bc;
    width: 100%;
    height: 40vh;
    position: relative;
    z-index: 99;
}
