.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=info');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body
{
    overflow-x: hidden;
    margin: 0 !important;
}
.titleBox
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #fffcf3;
    /* background-color: #F5F5F4; */
}

p
{
  font-family: 'Poppins', sans-serif;
}

bold
{
  font-weight: bold;
}

.title
{
    font-size: 60pt;
    font-family: 'Poppins', sans-serif;
    width: 60%;
    text-align: right;
    overflow: hidden;
}

.spinEarth
{
    width: 40%;
    height: 100%;
    overflow: hidden;
}

#earth
{
    height: 100vh;
    width: 100vh;
    position: relative;
    background-size: 100% 100%;
    filter: brightness(1.14);
}

.blueCover
{
    background-image: url('./blueBG.png');
    background-size: cover;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textYearlyTempAnomolies
{
    color: black;
    font-family: 'Poppins', sans-serif;
    width: 33%;
    margin-left: 3%;
    line-height: 2em;
    text-align: left;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.ribbon
{
  width: 80%;
  height: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 8px 8px 10px rgb(134, 133, 133);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ribbon .text
{
  padding: 5%;
  font-size: 3vh;
  line-height: 4.5vh;
  font-family: 'Poppins', sans-serif;
}

.flamingEarth
{
  height: 20vh;
  width: 20vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10%;
}

.yearlyTempAnomolies
{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yearlyTempAnomolies .polaroid
{
  background: #ffffff;
	display: inline-block;
	margin: 55px 75px 100px;
	padding: 100px 15px 15px 15px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-webkit-transition: all .20s linear;
	-moz-transition: all .20s linear;
	transition: all .20s linear;
	z-index: 0;
	position: relative;
  z-index: 9;
}

.yearlyTempAnomolies .tableauEmbed
{
  width: 50vw !important;
  height: 30vw !important;
}

.string
{
  width: 2px;
  height: 100vh;
  background-color: black;
  position: absolute;
  z-index: 1;
}

.polaroidTitle
{
  position: absolute;
  z-index: 10;
  top: 2vh;
  font-size: 1.4vw;
  width: 100%;
  text-align: left;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.next
{
    background-color: #1894bc;
    width: 100%;
    height: 40vh;
    position: relative;
    z-index: 99;
}

.monthlyTempAnomolies
{
  width: 100vw;
  height: 105vh;
  background-color: white;
  overflow: hidden;
}

.bgMonthlyTempAnomoliesMagnitudes
{
  background-color: #4682B4;
  height: 35vh;
  width: 100%;
  color: white;
  font-size: 16pt;
  margin-bottom: 2%;
  margin-top: -7vh;
  transform: skewY(2deg);
  z-index: 2;
  position: relative;
}

.accentMonthlyTempAnomoliesMagnitudes
{
  background-color: #3B6B8C;
  height: 5vh;
  width: 95%;
  margin-bottom: 6vh;
  margin-top: -7vh;
  transform: skewY(2deg);
  z-index: 1;
  position: relative;
}

.textMonthlyTempAnomoliesMagnitudes 
{
  position: absolute;
  transform: none;
  color: white;
  z-index: 99;
  width: 80%;
  font-size: 3vh;
  text-align: right;
  margin-top: 5vh;
  margin-left: 10%;
  font-family: 'Poppins', sans-serif;
}

.monthlyTempAnomoliesMagnitudes .tableauEmbed
{
  width: 90vw !important;
  height: 30vw !important;
  background-color: white;
  margin-left: 5vw;
}

.exposureIntro
{
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.exposureIntro .text
{
  color: white;
  position: absolute;
  z-index: 3;
  font-size: 3vh;
  width: 80%;
  font-family: 'Poppins', sans-serif;
}

.exposureIntro .bg
{
  background-image: url('./floodingBG.avif');
  background-size: cover;
  width: 100vw;
  height: 80vh;
  position: relative;
  z-index: 1;
}

.exposureIntro .shadow
{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 80vh;
  position: absolute;
  z-index: 2;
}

.exposureSums
{
  width: 100vw;
  height: 360vh;
}

.sumOfExposureValues
{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sumOfExposureValues .tableauEmbed
{
  width: 80vw !important;
  height: 40vw !important;

}

.exposureTextBlock
{
  width: 90vw;
  height: 20vh;
  background-color: #F7C6C7;
  margin-left: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-top: 5vh;
}

.summaryBlock
{
  margin-top: 5vh;
  width: 90vw;
  height: 20vh;
  background-color: #F7C6C7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
}

.exposureAccent
{
  width: 91vw;
  height: 20vh;
  background-color: #F08080;
  position: absolute;
  z-index: 1;
  margin-top: -18vh;
  right: 0;
}

.summaryAccent
{
  width: 91vw;
  height: 20vh;
  background-color: #F08080;
  position: absolute;
  z-index: 1;
  margin-top: -18vh;
}

.textSumOfExposureValues
{
  font-family: 'Poppins', sans-serif;
  font-size:  3vh;
  margin-left: 2.5%;
  text-align: left;
  width: 95%;
  margin-right: 2.5%;
}

.exposureSums .instructions
{
  font-size: 2vh;
  font-family: 'Poppins', sans-serif;
  margin-top: 10vh;
  width: 80vw;
  margin-left: 10vw;
  text-align: left;
}

.summaryExposureValues
{
  font-size: 3vh;
  font-family: 'Poppins', sans-serif;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.sandDances
{
  margin-top: 0vh;
  width: 100vw;
  height: 125vh;
}

.exposureValuesGraph
{
  height: 80vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3%;
}

.exposureValuesButtons
{
  height: 100vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exposureValuesButtons button
{
  width: 100%;
  font-size: 3vh;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 4vh;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.exposureValuesButtons button:hover
{
  color: #F08080;
}

.exposureValuesButtons button.selected
{
  color: #F08080;
}

.exposureValuesButtons button.unselected
{
  opacity: 0.5;
}

.exposureGraphWrapper
{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.exposureExplanation
{
  font-size: 3vh;
  font-family: 'Poppins', sans-serif;
  width: 80%;
  margin-bottom: -2%;
  font-weight: bold;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.exposureGraphExplain
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 100vh;
}

.exposureValuesGraph .vega-embed
{
  height: 100%;
  width: 60%;
}

.sandDances .instructions
{
  margin-top: 5vh !important;
} 

.precipEffects
{
  width: 100vw;
  height: 260vh;
  background-color: #F0F8FF;
}

.precip
{
  width: 100%;
  height: 135vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.globalPrecipChange
{
  width: 80vw;
  height: 70vh;
  background: #ffffff;
	display: inline-block;
	margin: 0px 75px 100px;
	padding: 0px 15px 15px 15px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-webkit-transition: all .20s linear;
	-moz-transition: all .20s linear;
	transition: all .20s linear;
	z-index: 0;
	position: relative;
}

.globalPrecipChange .tableauEmbed
{
  width: 80vw !important;
  height: 70vh !important;
  border: solid 1px rgb(210, 209, 209);
}

.globalTitle
{
  width: 80vw;
  height: 8vh;
  font-size: 3vh;
  margin-top: 1vh;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: white;
}

.precipTopBlock
{
  width: 100vw;
  height: 50vh;
  overflow: hidden;
}

.precipExplain
{
  width: 100vw;
  height: 35vh;
  background-color: #87CEEB;
  margin-top: -5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4 !important;
  position: relative;
  transform: skewY(-2deg);
}

.precipAccent
{
  width: 100vw;
  height: 35vh;
  background-color: #B0E0E6;
  margin-top: -3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0 !important;
  position: relative;
  transform: skewY(-2deg);
  margin-top: -33vh;
  margin-left: 15vh;
}

.precipText
{
  height: 30vh;
  width: 90vw;
  color: white;
  z-index: 99;
  position: absolute;
  font-size: 3vh;
  margin-top: -28vh;
  margin-left: 5vw;
  margin-right: 10vw;
  text-align: left;
}

.precip .instructions
{
  width: 80vw;
  display: flex;
  justify-content: flex-start;
  margin-top: 1vh;
}

.cropTopBlock
{
  width: 100vw;
  height: 22vh;
}

.cropText
{
  width: 90%;
  height: 20vh;
  background-color: #87CEEB;
  margin-left: 10vw;
  position: relative;
  z-index: 4;
  color: white;
  font-size: 3vh;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cropText .text
{
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.cropAccent
{
  width: 91vw;
  height: 18vh;
  background-color: #B0E0E6;
  position: absolute;
  z-index: 1;
  margin-top: -16vh;
  margin-left: 9vw;
}

.croplandExposure
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 120vh;
}

.cropPolaroid
{
  background: #ffffff;
	display: inline-block;
	margin: 0px 75px 100px;
	padding: 0px 15px 15px 15px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-webkit-transition: all .20s linear;
	-moz-transition: all .20s linear;
	transition: all .20s linear;
	z-index: 0;
	position: relative;
  width: 75vw;
  height: 70vh;
}

.croplandExposure .tableauEmbed
{
  width: 75vw !important;
  height: 70vh !important;
}

.oxygenIntro
{
  width: 100vw;
  height: 80vh;
}

.oxygenText
{
  width: 80vw;
  height: 70vh;
  position: absolute;
  z-index: 99;
  color: white;
  font-size: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
  line-height: 6vh;
}

.oxygenBG
{
  background-image: url('./oxygenBG.jpg');
  background-size: cover;
  width: 100vw;
  height: 80vh;
  position: relative;
  z-index: 1;
}

.oxygenShadow
{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 80vh;
  position: absolute;
  z-index: 2;
  margin-top: -80vh;
}

.deltaO
{
  width: 100vw;
  height: 700vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F8FF;
}

.deltaO .scroll-section {
  height: 100vh; 
}


.deltaOWrapper
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.deltaOText
{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  margin-left: 5vw;
  overflow-y: hidden;
  line-height: 5vh;
}

.deltaOVizFormat
{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.deltaOViz
{
  width: 50%;
  height: 10%;
  background-image: url('./deltaO1.png');
  background-size: 100% 100%;
  margin-top: 20vh;
}

.sectionWrapper
{
  width: 100vw;
  height: 500vh;
}

.deltaOText .text
{
 height: 100%;

}

.oSection
{
  margin-top: 40vh;
  margin-bottom: 25vh;
  height: 100vh;
  width: 35vw;
}

.natRisk
{
  width: 100vw;
  height: 120vh;
  background-color: #ffe6e3;
  /* background-color: #F7C6C7; */
  position: relative;
  z-index: 90;
}

.nationalStateRisk
{
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nationalStateRisk .tableauEmbed
{
  width: 80vw !important;
  height: 30vw !important;
}

.footer i
{
  margin-right: 2vw;
  font-size: 2vh !important;
}

.riskText
{
  position: absolute;
  z-index: 999;
  width: 85vw;
  height: 30vh;
  color: black;
  font-size: 4vh;
  margin-top: -29vh;
  position: absolute;
  margin-left: 2vw;
  text-align: right;
}

.riskTopBox
{
  width: 100vw;
  height: 40vh;
  overflow: hidden;
}

.riskMainBox
{
  width: 90vw;
  height: 35vh;
  background-color: #F7C6C7;
  position: relative;
  z-index: 4;
  transform: skewY(2deg);
  margin-top: -5vh;
}

.riskAccent
{
  width: 91vw;
  height: 28vh;
  background-color: #F08080;
  transform: skewY(2deg);
  position: relative;
  z-index: 1;
  margin-top: -26vh;
  
}

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=code');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.footer
{
  width: 80vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.5vh;
}
